<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	
	<!--<connectionStrings>
		<add name="ddp" connectionString="Data Source=LEVI\SQLEXPRESS07;Initial Catalog=empreg;Integrated Security=True;" />
	</connectionStrings>-->
  <connectionStrings>
    <add name="empregConnectionString" connectionString="Data Source=TUF\SQLEXPRESS07;Initial Catalog=empreg;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="empregConnectionString2" connectionString="Data Source=TUF\SQLEXPRESS07;Initial Catalog=empreg;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="empregConnectionString3" connectionString="Data Source=LAPTOP-6FR04BE4\SQLEXPRESS;Initial Catalog=empreg;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="empregConnectionString4" connectionString="Data Source=LEVI\SQLEXPRESS;Initial Catalog=empreg;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
	  <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" relaxedUrlToFileSystemMapping="true" />
	  <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US" />
  </system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <location path="Register.aspx">
        <system.webServer>
            <directoryBrowse enabled="true" />
        </system.webServer>
    </location>
</configuration>